{
    "base_url" : "www.gamedev.net",
    "display_pages" : 
    [
        {
            "id" : "main_search",
            "action" : "http://www.gamedev.net/index.php?app=core&module=search&do=search&fromMainBar=1",
            "method" : "POST",
            "args" : ["search_term"],
            "next_uri" : "<uri>",
            "item_uri" : "<uri>",
            "item_id" : 0
        }
    ],
    "item_pages" :
    [
        {
            "id" : "main_search_result",
            "elements" : 
            {
                "name" : "<uri>",
                "vote" : "<uri>",
                "sample" : "<uri>"
            }
        }
    ],

    "rating" :
    {

    }
}