{
	"item_pages": [
		{
			"id": "FeaturedArticles",
			"pathname": "/page/index.html",
			"elements": {
				"title": "<div>,article_thumbnail<div>,article_content_inner<div>,article_content<div>article_group,<div>,article_wrapper<div>featured,<div>,ipsLayout_content<div>,ipsLayout ipsLayout_withright ipsLayout_largeright<div>content,clearfix<div>ipbwrapper,<body>ipboard_body,<html>,"
			}
		}
	],
	"display_pages": [],
	"base_url": "www.gamedev.net",
    "rating" : 
    {
        "depth_trust_threshold" : 15,
        "id_trust_ratio" : 0.4,
        "class_trust_ratio" : 0.6,
        "mitigation_threshold" : 2,
        "trust_threshold" : 0.4,
        "full_match_advantage" : 0.5
    }
}